################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ConsoleApplication1/ConsoleApplication1.VC.VC.opendb
